body {
  background-color: var(--primaire-kleur);
  display: flex;
  justify-content: center;

  p {
    line-height: var(--line-height-p);
  }

  code {
    background-color: black;
    color: white;
    padding: 4px 7px;
    border-radius: 3px;
    display: inline-flex;
  }

  main {
    display: grid;
    gap: 3rem;
    max-width: 30rem;
    padding: 3rem 0;

    .navigatie {
      position: fixed;
      left: 50px;

      ul {
        li {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .h2-heading-navigatie {
            padding-left: 1rem;
          }

          .h3-heading-navigatie {
            padding-left: 2rem;
          }
        }
      }
    }

    ul {
      list-style: none;
      display: grid;

      h1,
      h2,
      h3 {
        padding-bottom: 0.5rem;
      }

      &:nth-of-type(2) {
        gap: 2rem;
      }

      &:nth-of-type(3) {
      }

      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        gap: 3.5rem;
        padding-bottom: 2rem;
        border-bottom: 0.1rem solid rgb(0, 0, 0);

        li {
          h4 {
            padding-bottom: 15px;
          }

          h5 {
            padding: 15px 0 7px;
          }

          a {
            padding-top: 10px;
            display: block;
          }
        }
      }
    }
  }
}
