*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-kleur: #3a0519;
  --secundary-kleur: #670e2f;
  --tertiary-kleur: #ee87ac;

  --font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  --border-radius: 5px;
}

body {
  background: var(--main-kleur);
  font-family: var(--font);
  color: white;

  @media (min-width: 900px) {
    overflow: hidden;
  }
}

button {
  font-family: var(--font);
  background: var(--tertiary-kleur);
  border-radius: var(--border-radius);
  color: var(--secundary-kleur);
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 12px 30px;
}

a {
  color: var(--tertiary-kleur);
  text-decoration: none;
}

code {
  background: black;
  padding: 5px;
  display: inline-block;
}

.gif {
  width: 60px;
}
