main {
  section:nth-of-type(1) {
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 50px 30px;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      max-width: 35rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &:nth-of-type(1) {
          display: flex;

          @media (min-width: 380px) {
            gap: 20px;
          }

          h1 {
            font-size: 50px;
          }

          img {
            width: 65px;
          }
        }

        &:nth-of-type(2) {
          h2 {
            color: var(--tertiary-kleur);
            font-weight: 100;
            font-size: 22px;
          }
        }

        &:nth-of-type(4) {
          display: flex;
          gap: 10px;
        }
      }
    }
  }

  section:nth-of-type(2) {
    background: var(--secundary-kleur);
    min-height: 200px;
    padding: 30px;

    ul {
      list-style: none;

      &.sprint {
        display: none;

        &.active {
          display: flex;
          flex-direction: column;
          gap: 40px;
        }
      }
    }
  }
}
