main {
  section:nth-of-type(1) {
    min-height: 400px;
    background-color: rgb(163, 66, 66);
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      max-width: 35rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &:nth-of-type(1) {
          h1 {
            font-size: 50px;
          }

          img {
            width: 70px;
          }
        }

        &:nth-of-type(2) {
          h2 {
            color: var(--tertiary-kleur);
            font-weight: 100;
            font-size: 22px;
          }
        }
      }
    }
  }

  section:nth-of-type(2) {
    background: var(--secundary-kleur);
  }
}
