@view-transition {
  navigation: auto;
}

main {
  height: 100vh;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-template-areas:
      "title  content bron"
      "title  content bron"
      "footer  content bron";
  }

  nav {
    padding: 2rem;
    overflow: scroll;
    position: relative;
    height: 100dvh;

    .details-sprints {
      ul {
        padding-left: 30px;
      }
    }

    .details-sprint,
    .details-handig,
    .details-tuinieren,
    .details-git {
      display: grid;
      padding-left: 30px;
    }

    ul {
      list-style: none;
      display: flex;

      a {
        color: white;
      }

      details {
        summary {
          cursor: pointer;
          color: var(--tertiary-kleur);
          list-style: none;
          display: flex;
          align-items: center;
          gap: 5px;

          &::-webkit-details-marker {
            display: none;
          }

          &::before {
            content: "";
            width: 1rem;
            height: 1rem;
            display: block;
            mask: url("../assets/svg/chevron-down.svg") center/contain no-repeat;
            -webkit-mask: url("../assets/svg/chevron-down.svg") center/contain
              no-repeat;
            background-color: var(--tertiary-kleur);
          }
        }
      }

      .li-details {
        padding: 10px 0 0 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        ul {
          padding-left: 15px;

          li {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 10px;
          }
        }
      }
    }
  }

  section:nth-of-type(1) {
    background: var(--secundary-kleur);
    padding: 30px;
    grid-area: content;
    min-height: 300px;
    place-items: center;

    @media (min-width: 900px) {
      overflow-y: auto;
    }

    ul {
      list-style: none;

      &.sprint {
        display: none;
        max-width: 40rem;

        .li-emojis {
          flex-direction: row;
        }

        &.active {
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }
      }

      li {
        display: flex;
        flex-direction: column;
        gap: 15px;
        border: 1px solid var(--tertiary-kleur);
        padding: 2rem;

        div {
          display: grid;
          padding-top: 10px;
          gap: 5px;
        }

        h2 {
          color: var(--tertiary-kleur);
          font-weight: 100;
        }

        h4 {
          scroll-margin-top: 50px;
          color: var(--tertiary-kleur);
          font-size: 200%;
          font-weight: 400;
        }

        img {
          display: none;
        }

        h5 {
          font-size: 125%;
          color: var(--tertiary-kleur);
          font-weight: 500;
        }

        details[open] summary .arrow {
          transform: rotate(270deg);
        }

        details {
          background: var(--main-kleur);

          &:open summary .arrow {
            transform: rotate(270deg);
          }

          summary {
            list-style: none;
            font-size: 1.05rem;
            display: flex;
            padding: 15px;
            border-bottom: 1.5px solid var(--tertiary-kleur);
            align-items: center;
            justify-content: space-between;

            .arrow {
              display: inline-block;
            }
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  section:nth-of-type(2) {
    background-color: var(--main-kleur);
    grid-area: bron;
    width: 20rem;

    ul {
      padding: 2rem;
      list-style: none;

      &.sprint {
        display: none;
        max-width: 40rem;

        .li-emojis {
          flex-direction: row;
        }

        &.active {
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }
      }
    }
  }
}
