main {
  height: 100vh;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-template-areas:
      "title  content"
      "title  content"
      "footer  content";
  }

  section:nth-of-type(1) {
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 50px 30px;
    justify-content: center;
    grid-area: title;

    @media (min-width: 900px) {
      overflow: hidden;
      width: 50vw;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      max-width: 35rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &:nth-of-type(1) {
          display: flex;

          @media (min-width: 380px) {
            gap: 20px;
          }

          h1 {
            font-size: 50px;
          }
        }

        &:nth-of-type(2) {
          h2 {
            color: var(--tertiary-kleur);
            font-weight: 100;
            font-size: 22px;
          }
        }

        &:nth-of-type(4) {
          display: flex;
          gap: 10px;
        }
      }
    }
  }

  section:nth-of-type(2) {
    background: var(--secundary-kleur);
    padding: 30px;
    grid-area: content;
    min-height: 300px;

    @media (min-width: 900px) {
      width: 50vw;
      overflow-y: auto;
    }

    ul {
      list-style: none;

      &.sprint {
        display: none;

        &.active {
          display: flex;
          flex-direction: column;
          gap: 25px;
        }
      }

      li {
        display: flex;
        flex-direction: column;
        gap: 15px;

        details[open] summary .arrow {
          transform: rotate(270deg);
        }

        details {
          background: var(--main-kleur);

          &:open summary .arrow {
            transform: rotate(270deg);
          }

          summary {
            list-style: none;
            font-size: 1.05rem;
            display: flex;
            padding: 15px;
            border-bottom: 1.5px solid var(--tertiary-kleur);
            align-items: center;
            justify-content: space-between;

            .arrow {
              display: inline-block;
            }
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
